---
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.6.6
before_install: 
  - gem install bundler -v '1.17'

install: bundle install
script:
  - bundle exec rake rubocop
  - bundle exec rake spec
