---
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.6.6
before_install: 
  - gem install bundler
  - gem install rspec
  - gem install rubocop
  - gem install dry-struct
  - gem install faraday
  
install: true
script:
  - rake spec
